<div class="row main" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User Group Access</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-left">
                                <div>
                                    <label for="exampleInputEmail1">USER GROUP: </label>
                                    <label class="text-success"> {{group.GroupName}}</label>
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <button class="btn btn-primary btn-sm" ng-click="saveAccess()"><i class="fa fa-save" aria-hidden="true"></i> Save Access</button>
                                <button class="btn btn-success btn-sm" uib-tooltip="Refres" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>MODULE</th>
                                            <th class="text-center">DESCRIPTION</th>
                                            <th class="text-center">CAPTION</th>
                                            <th class="text-center" width="4%">READ</th>
                                            <th class="text-center" width="4%">WRITE</th>
                                            <th class="text-center" width="4%">DELETE</th>
                                            <th class="text-center" width="4%">PRINT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in privileges" ng-repeat-end-watch="myFunction">
                                        <!-- <tr ng-repeat="row in privileges"> -->
                                            <td class="text-center center-td">
                                                {{row.ModuleName}}
                                            </td>
                                            <td>
                                                {{row.Description}}
                                            </td>
                                            <td>
                                                {{row.Caption}}
                                            </td>
                                            <td class="text-center">
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" ng-model="row.DefaultRead" ng-true-value="1" ng-false-value="0">
                                                </label>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" ng-model="row.DefaultWrite" ng-true-value="1" ng-false-value="0">
                                                </label>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" ng-model="row.DefaultDelete" ng-true-value="1" ng-false-value="0">
                                                </label>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="checkbox">
                                                    <label>
                                                    <input type="checkbox" ng-model="row.DefaultPrint" ng-true-value="1" ng-false-value="0">
                                                </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>