<div class="modal-header">
    <h3 class="modal-title" id="modal-title">User Account Entry</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="txtOldEmployee">Employee</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" ng-model="employee.employee_name" placeholder="Select Employee">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" ng-click="frmEmployeePicker()"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="txtOldEmployee">Username</label>
                <input type="text" class="form-control input-sm" id="txtOldEmployee" ng-model="user.UserName">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="user.IsEmployee" ng-true-value="1" ng-false-value="0"> Is Employee
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="txtOldEmployee">Password</label>
            <input type="password" class="form-control input-sm" id="txtOldEmployee" ng-model="user.Password">
        </div>
        <div class="form-group col-md-6">
            <label for="txtOldEmployee">Confirm Password</label>
            <input type="password" class="form-control input-sm" id="txtOldEmployee" ng-model="user.ConfirmPassword">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="txtOldEmployee">Email Address</label>
                <input type="email" class="form-control input-sm" id="txtOldEmployee" ng-model="user.Email">
            </div>
            <div class="form-group">
                <label for="txtOldEmployee">Mobile No.</label>
                <input type="text" class="form-control input-sm" id="txtOldEmployee" ng-model="user.MobileNo">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Select</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>