<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Set User Group for Users</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="txtOldEmployee">User Group</label>
                <select class="form-control input-sm" id="cboGroupID" name="cboGroupID" ng-model="user.UserGroupID" ng-options="item.GroupID as item.GroupName for item in usergroups"></select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Update</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>