<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-md-12">
            <label for="cboSSSFrequent">Starting Month</label>
            <select class="form-control input-sm" id="cboMonth" name="cboMonth" ng-model="setup.MonthID" ng-options="item.m_id as item.month_name for item in months"
                ng-disabled="IsDisable"></select>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label for="txt1stFrom">1st CUT-OFF <span class="text-danger">FROM</span></label>
                <input type="text" class="form-control input-sm" id="txt1stFrom" placeholder="0" ng-model="setup._1STCUTOFF_FROM" required/>
            </div>
            <div class="form-group col-md-3">
                <label for="txt1stTo">1st CUT-OFF <span class="text-danger">TO</span></label>
                <input type="text" class="form-control input-sm" id="txt1stTo" placeholder="0" ng-model="setup._1STCUTOFF_TO" required/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label for="txt1stFrom">2nd CUT-OFF <span class="text-danger">FROM</span></label>
                <input type="text" class="form-control input-sm" id="txt1stFrom" placeholder="0" ng-model="setup._2NDCUTOFF_FROM" required/>
            </div>
            <div class="form-group col-md-3">
                <label for="txt1stTo">2nd CUT-OFF <span class="text-danger">TO</span></label>
                <input type="text" class="form-control input-sm" id="txt1stTo" placeholder="0" ng-model="setup._2NDCUTOFF_TO" required/>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="cboSSS">SSS Table Used</label>
            <select class="form-control input-sm" id="cboSSS" name="cboSSS" ng-model="setup.SSSID" ng-options="item.SSS_ID as item.SSSCode for item in sssData"
                ng-disabled="IsDisable"></select>
        </div>
        <div class="form-group col-md-12">
            <label for="cboPH">PHIC Table Used</label>
            <select class="form-control input-sm" id="cboPH" name="cboPH" ng-model="setup.PHID" ng-options="item.PHID as item.PH_Name for item in phicData"
                ng-disabled="IsDisable"></select>
        </div>
        <div class="form-group col-md-12">
            <label for="cboPH">PAGIBIG Setting</label>
            <form class="form-inline">
                <div class="radio" style="margin-right:20px;">
                    <label>
                    <input type="radio" name="optFixed" id="optFixed1" ng-value="0" ng-model="setup.PAGIBIG"> Table
                  </label>
                </div>
                <div class="radio" style="margin-right:10px;">
                    <label>
                    <input type="radio" name="optFixed" id="optFixed2" ng-value="1" ng-model="setup.PAGIBIG"> Fixed
                  </label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="text" class="form-control" name="txtFixedHMDF" id="txtFixedHMDF" ng-model="setup.PAGIBIG_VALUE" placeholder="0.00">
                </div>
            </form>
        </div>
        <div class="form-group col-md-12">
            <label for="cboTaxTable">TAX Table Used</label>
            <select class="form-control input-sm" id="cboTaxTable" name="cboTaxTable" ng-model="setup.TaxID" ng-options="item.TAXID as item.Name for item in wtaxData"
                ng-disabled="IsDisable"></select>
        </div>
        <div class="form-group col-md-12">
            <label for="txtBankName">Bank Name</label>
            <input type="text" class="form-control input-sm" id="txtBankName" placeholder="Bank Name" ng-model="setup.BankName" required/>
        </div>
        <div class="form-group col-md-12">
            <label for="txtAcctNo">Account No</label>
            <input type="text" class="form-control input-sm" id="txtAcctNo" placeholder="Account No" ng-model="setup.CompanyAccountNo"
                required/>
        </div>
        <div class="form-group col-md-12">
            <label>Compute Witholding Tax</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="setup.IsComputeTax" ng-true-value="1" ng-false-value="0" > Compute Tax
                </label>
            </div>
        </div>
    </div>
</div>