<div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Tax Percent</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="txtRange1">Range 1</label>
                    <input type="number" class="form-control" id="txtRange1" ng-model="taxpercentage.Range1">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange2">Range 2</label>
                    <input type="number" class="form-control" id="txtRange2" ng-model="taxpercentage.Range2">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange3">Range 3</label>
                    <input type="number" class="form-control" id="txtRange3" ng-model="taxpercentage.Range3">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange4">Range 4</label>
                    <input type="number" class="form-control" id="txtRange4" ng-model="taxpercentage.Range4">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange5">Range 5</label>
                    <input type="number" class="form-control" id="txtRange5" ng-model="taxpercentage.Range5">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange6">Range 6</label>
                    <input type="number" class="form-control" id="txtRange6" ng-model="taxpercentage.Range6">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange7">Range 7</label>
                    <input type="number" class="form-control" id="txtRange7" ng-model="taxpercentage.Range7">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtRange8">Range 8</label>
                    <input type="number" class="form-control" id="txtRange8" ng-model="taxpercentage.Range8">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="saveTaxPercentage()">Save</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>