<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Job Classification Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <button class="btn btn-default btn-sm" type="button" ng-click="addClass()">Add</button>
        <button class="btn btn-success btn-sm" type="button" ng-click="refreshData()">Refresh</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="txtCode">Class Code</label>
                        <input type="text" class="form-control input-sm" id="txtClassCode" placeholder="Class Code" ng-model="classdata.ClassCode" ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtTaxExemption">Class Name</label>
                        <input type="text" class="form-control input-sm" id="txtGroupName" placeholder="Class Name" ng-model="classdata.Classification" ng-disabled="IsDisable">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtDescription">Class Description</label>
                        <textarea class="form-control input-sm" col="3" id="txtDescription" placeholder="Class Description" ng-model="classdata.Description" ng-disabled="IsDisable"></textarea>
                    </div>
                    <div class="checkbox col-md-12">
                        <label>
                            <input type="checkbox" ng-model="classdata.Inactive" ng-true-value="1" ng-false-value="0"> In-Active
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" ng-table="tableParams" id="tableParams">
                    <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                        <td style="width:100" data-title="'Class Code'" class="text-center center-td">
                            {{row.ClassCode}}
                        </td>
                        <td style="width:100" data-title="'Class Name'" class="text-center center-td">
                            {{row.Classification || 'No Classfication'}}
                        </td>
                        <td style="width:100" data-title="'Class Description'" class="text-center center-td">
                            {{row.Description || 'No Description'}}
                        </td>
                        <td style="width:100px; " data-title="'Actions'">
                            <button class="btn btn-deafult btn-sm" ng-click="updateClassData(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteClassification(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry3()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>