<div class="modal-header">
    <h3 class="modal-title" id="modal-title">User Profile</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" ng-src="{{profileImage}}" err-src="http://placehold.it/250x250" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="single-button" type="button" class="btn btn-block btn-primary" ng-click="gotoProfile()">
                                        <i class="fa fa-edit" aria-hidden="true"></i> Update Employee Profile
                                    </button>
                                </div>
                            </div>
                            <div style="padding-top:10px;"> </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Employee No: </label>
                                        <label class="text-primary">{{employee.e_idno}} </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Lastname: </label>
                                        <label class="text-primary">{{employee.e_lname}} </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name: </label>
                                        <label class="text-primary">{{employee.e_fname}} </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Middle Name: </label>
                                        <label class="text-primary">{{employee.e_mname}} </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Gender: </label>
                                        <label class="text-primary">{{employee.e_gender}} </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <uib-tabset active="active">
                <uib-tab index="0" heading="User Information">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtOldEmployee">Username</label>
                                        <input type="text" class="form-control input-sm" id="txtOldEmployee" ng-model="user.UserName">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                    <input type="checkbox" ng-model="user.IsEmployee" ng-true-value="1" ng-false-value="0"> Is Employee
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtOldEmployee">Email Address</label>
                                        <input type="email" class="form-control input-sm" id="txtOldEmployee" ng-model="user.Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOldEmployee">Mobile No.</label>
                                        <input type="text" class="form-control input-sm" id="txtOldEmployee" ng-model="user.MobileNo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Update</button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Password">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtOldEmployee">Password</label>
                                        <input type="password" class="form-control input-sm" id="txtOldEmployee" ng-model="user.Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOldEmployee">Confirm Password</label>
                                        <input type="password" class="form-control input-sm" id="txtOldEmployee" ng-model="user.ConfirmPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Update</button>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Close</button>
</div>