<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee General Information Entry Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="txtSearch.text" placeholder="Search..." ng-keypress="($event.which === 13)?searchData():0" ng-change="(txtSearch.length < 1)?searchData():0">
                <span class="input-group-btn">
        <button class="btn btn-default btn-lg"ng-click="searchData()">Search</button>
      </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" ng-table="tableParams" id="myTable">
                    <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                        <td data-title="'Employee ID'" class="text-center center-td">
                            {{row.e_idno}}
                        </td>
                        <td data-title="'Employee Name'">
                            {{row.employee_name}}
                        </td>
                        <td data-title="'Gender'">
                            {{row.e_gender}}
                        </td>
                        <td data-title="'Job Position'">
                            {{row.job_position}}
                        </td>
                        <td data-title="'Status'">
                            {{row.employment_status}}
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Select</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>