<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Branch Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtBranchCode">Branch Code</label>
                    <input type="text" class="form-control"  id="txtBranchCode" placeholder="Branch Code" ng-model="branch.branch_code" required/>
                </div>
                <div class="form-group">
                    <label for="txtBranchName">Branch Name</label>
                    <input type="text" class="form-control"  id ="txtBranchName" placeholder="Branch Name" ng-model="branch.branch_name" require/>
                </div>
                <div class="form-group">
                    <label for="txtShortName">Short Name</label>
                    <input type="text" class="form-control" id="txtShortName" placeholder="Short Name" ng-model="branch.short_name" required/>
                </div>
                <div class="form-group">
                    <label for="txtAddress">Address</label>
                    <textarea class="form-control input-sm" col="3" id="txtAddress" ng-model="branch.address"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="branch.inactive" ng-true-value="1" ng-false-value="0" > In-Active
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>