<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Account's Entry Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <label for="txtPosCode">Account Code</label>
                    <input type="text" class="form-control" id="txtAccountCode" placeholder="Account Code" ng-model="accounts.AcctCode">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtPosTitle">Account Name</label>
                    <input type="text" class="form-control" id="txtAccountName" placeholder="Account Name" ng-model="accounts.AcctName">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtPosShortName">Short Name</label>
                    <input type="text" class="form-control" id="txtShortName" placeholder="Account Short Name" ng-model="accounts.ShortName">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail2">Account Group</label>
                    <select class="form-control input-sm" ng-model="accounts.GroupID" placeholder="txtGroupID" ng-options="item.GroupID as item.GroupName  for item in accountgroup">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Account Classfication</label>
                    <select class="form-control input-sm" ng-model="accounts.ClassID" placeholder="txtClassID" ng-options="item.ClassID as item.ClassName for item in accountclass">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Account Type</label>
                    <select class="form-control input-sm" ng-model="accounts.TypeID" placeholder="txtClassID" ng-options="item.TypeID as item.CategoryName  for item in accounttype">
                    </select>
                </div>
                <div class="checkbox col-md-12">
                    <label>
                        <input ng-checked="accounts.Inactive == 1 " type="checkbox" ng-model="accounts.Inactive" ng-true-value="1" ng-false-value="0" > In-Active
                    </label>
                </div>
                <div class="checkbox col-md-12">
                    <label>
                        <input type="checkbox" ng-model="accounts.Locked" ng-true-value="1" ng-false-value="0"> Lock
                    </label>
                </div>
                 <div class="checkbox col-md-12">
                    <label>
                        <input type="checkbox" ng-model="accounts.TaxInclude" ng-true-value="1" ng-false-value="0"> Include In Tax Computation
                    </label>
                </div>
                <div class="checkbox col-md-12">
                    <label>
                        <input type="checkbox" ng-model="accounts.DeducNotInclude" ng-true-value="1" ng-false-value="0"> Not Include (Total Gross Pay - Total Deduction)
                    </label>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>