<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Charts of Accounts</h1>
    <div class="page-action-buttons">
        <button class="btn btn-primary btn-sm" ng-click="addAccounts()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
        <button class="btn btn-default btn-sm" ng-click="printAccounts()"><i class="fa fa-print"></i> Print</button>
        <button class="btn btn-default btn-sm" ng-click="addGroup()"><i class="fa fa-list"></i> Account Group</button>
        <button class="btn btn-default btn-sm " ng-click="addClass()"><i class="fa fa-list"></i> Account Classification</button>
         <button class="btn btn-default btn-sm  " ng-click="addType()"><i class="fa fa-list"></i> Account Type</button>
        <div style="width:500px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Accounts" ng-keypress="($event.which === 13)?searchAccounts():0"
                    ng-change="(txtFind.length < 1)?searchAccounts():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"ng-click="searchAccounts()"><i class="fa fa-search"></i> Search</button>
                    </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" ng-table="tableParams" id="myTable">
            <tr ng-repeat="row in $data" ng-dblclick="setSelectedItem(row)" ng-class="{selected: row.selected}">
                <td data-title="'CODE'" class="text-center center-td">
                    {{row.AcctCode}}
                </td>
                <td data-title="'ACCOUNT TITLE'">
                    {{row.AcctName}}
                </td>
                <td data-title="'SHORT NAME'">
                    {{row.ShortName}}
                </td>
                <td data-title="'GROUP NAME'">
                    {{row.groups.GroupName || 'None'}}

                </td>
                <td data-title="'CLASSIFICATION'">
                    {{row.class.ClassName || 'None'}}
                </td>
                <td data-title="'ACCOUNT TYPE'">
                    {{row.types.CategoryName || 'None'}}
                </td>
                <td data-title="'INACTIVE'">
                   {{row.Inactive == 0 ? 'Yes': 'No'}}
                </td>
                <td style="width:100px; " data-title="''">
                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateAccounts(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteAccounts(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>