<div class="col-sm-12 col-md-12 col-lg-12 main print">
    <div class="page-action-buttons" print-hide>
        <a class="btn btn-default btn-sm" onclick="window.history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <a class="btn btn-default btn-sm" print-btn><i class="fa fa-print" aria-hidden="true"></i> Print</a>
    </div>
    <div print-section>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
           <img ng-src="{{profileImage}}" err-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROsYr-Eu1pqfZnJmmYMyDM8vzE3fz2E5bGJCtg8LBZ6vQLl-XEQg" style="width:250px;">
           {{company.ci_name}}
           <br>
           <small style="font-size: 16px;margin-left: 260px;position: absolute;margin-top: -40px;">{{company.ci_streetadd}} {{company.ci_city}} {{company.ci_provincialadd}} {{company.ci_zipcode}}</small>
        </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <address>
                    <strong>{{employee.e_fname}} {{employee.e_lname}}</strong>
                    <br> ID Number: {{employee.e_idno}}
                    <br> Email: {{employee.e_email}}
                    <br> Position: {{employee.job_position}}
                    <br> Department: {{employee.department}}
                    <br> Division: {{employee.division}}
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Payroll Period:</b> {{payroll.PayrollCode}}
                <br>
                <b>Period Covered FROM:</b> {{payroll.FirstDate}}
                <br>
                <b>Period Covered TO:</b> {{payroll.SecondDate}}
            </div>
            <div class="col-sm-4 invoice-col">
                <b>{{curDate}}</b>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered cs_attendance" id="tblChildren">
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th class="text-center">WEEKDAY</th>
                            <th class="text-center">TIME IN (AM)</th>
                            <th class="text-center">TIME OUT (AM)</th>
                            <th class="text-center">TIME IN (PM)</th>
                            <th class="text-center">TIME OUT (PM)</th>
                            <th class="text-center">REG. HRS.</th>
                            <th class="text-center">TOTAL HRS.</th>
                            <th class="text-center">ABSENT</th>
                            <th class="text-center">NON-WORKING</th>
                            <th class="text-center">REMARKS</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in attendance" ng-class="{
                                    'regular_days':row.EntryID != null,'non_working': (row.IsNonWorking == 1 || row.DAYOFWEEK == 1 || row.DAYOFWEEK == 7)
                                }">
                        <td>
                            <i class="fa fa-2x fa-lock posted" aria-hidden="true" ng-if="row.IsPosted == 1"></i> &nbsp; {{row.F_TransDate | date:'MM/dd/yyyy'}}
                        </td>
                        <td>{{row.DAYNAME | uppercase}}</td>
                        <td class="text-center">{{row.F_TimeIn | date:'hh:mm a'}}</td>
                        <td class="text-center">{{row.F_TimeOut | date:'hh:mm a'}}</td>
                        <td class="text-center">{{row.F_TimeIn2 | date:'hh:mm a'}}</td>
                        <td class="text-center">{{row.F_TimeOut2 | date:'hh:mm a'}}</td>
                        <td class="text-center">
                            <label ng-if="row.IsNonWorking == 1">0</label>
                            <label ng-if="row.IsNonWorking == 0">{{row.RegHrs}}</label>
                        </td>
                        <td class="text-center">{{row.Totalhrs}}</td>
                        <td class="text-center">
                            <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsAbsent == 1 && row.IsPosted == 1"></i>
                            <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsAbsent == 0 && row.IsPosted == 1"></i>
                            <label ng-if="row.IsPosted == 0">
                                <input type="checkbox" ng-model="row.IsAbsent" ng-true-value="1" ng-false-value="0">
                            </label>
                        </td>
                        <td class="text-center">
                            <i class="fa fa-check-square-o" aria-hidden="true" ng-if="row.IsNonWorking ==1 && row.IsPosted == 1"></i>
                            <i class="fa fa-square-o" aria-hidden="true" ng-if="row.IsNonWorking == 0 && row.IsPosted == 1"></i>
                            <label ng-if="row.IsPosted == 0">
                                <input type="checkbox" ng-model="row.IsNonWorking" ng-true-value="1" ng-false-value="0">
                            </label>
                        </td>
                        <td class="text-center">{{row.Remarks}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>