<div class="text-center" style="margin-bottom: 10px;">
    <img ng-src="{{profileImage}}" err-src="http://placehold.it/250x250" alt="" class="img-thumbnail" style="width: 160px; height: 160px;">
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Employee No: </label>
            <label class="text-primary">{{employee.e_idno}} </label>
        </div>
        <div class="form-group">
            <label>Lastname: </label>
            <label class="text-primary">{{employee.e_lname}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name: </label>
            <label class="text-primary">{{employee.e_fname}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Middle Name: </label>
            <label class="text-primary">{{employee.e_mname}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Gender: </label>
            <label class="text-primary">{{employee.e_gender}} </label>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="form-group">
            <label>Position: </label>
            <label class="text-primary">{{employee.job_position}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Department: </label>
            <label class="text-primary">{{employee.department}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Division: </label>
            <label class="text-primary">{{employee.division}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Branch: </label>
            <label class="text-primary">{{employee.branch}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date Hired: </label>
            <label class="text-primary">{{employee.e_dateemployed | date:'MM/dd/yyyy'}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date Appointed: </label>
            <label class="text-primary">{{employee.AppointedDate | date: 'MM/dd/yyyy'}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date Separation: </label>
            <label class="text-primary">{{employee.DateResigned | date: 'MM/dd/yyyy'}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date Retirement: </label>
            <label class="text-primary">{{employee.DateRetired | date: 'MM/dd/yyyy'}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Year(s) in Service: </label>
            <label class="text-primary">{{employee.yearsOfService}} </label>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Employment Status: </label>
            <label class="text-primary">{{employee.employment_status}} </label>
        </div>
    </div>
</div>