<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Departments</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="Reload()"><i class="fa fa-refresh"></i> Refresh</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search..." ng-keypress="($event.which === 13)?searchDepartments():0"
                    ng-change="(txtFind.length < 1)?searchDepartments():0">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg"ng-click="searchDepartments()"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-table="tblDepartments" id="tblDepartments">
            <tr ng-repeat="row in $data">
                <td data-title="'Department Code'" class="text-center center-td">
                    {{row.d_code}}
                </td>
                <td data-title="'Department Name'">
                    {{row.d_name}}
                </td>
                <td data-title="'Short Name'">
                    {{row.short_name}}
                </td>
                <td data-title="'Head/Director'">
                    {{row.d_head}}
                </td>
                <td data-title="'Branch'">
                    {{row.branch_id}}
                </td>
                <td data-title="'In-Active'">
                    {{row.inactive}}
                </td>
                <td style="width:100px; " data-title="'Actions'">
                    <button href="" class="btn btn-default btn-sm" ng-click="updateDeparment(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteDepartment(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>