<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Work Schedule</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-table="tableParams" id="tblWorkSchedules">
            <tr ng-repeat="row in $data">
                <td data-title="'Template Code'" class="text-center center-td">
                    {{row.Code}}
                </td>
                <td data-title="'Template Name'">
                    {{row.Template}}
                </td>
                <td data-title="'Description'">
                    {{row.Description}}
                </td>
                <td data-title="'In-Active'">
                    <i class="fa fa-check" aria-hidden="true" ng-if="row.InActive == 1"></i>
                </td>
                <td data-title="''" width="8%">
                    <button class="btn btn-success btn-sm" uib-tooltip="Generate Template" ng-click="generateTemplate(row)"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateSchedule(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteSchedule(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>