<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Work Schedule</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtCode">Template Code</label>
                    <input type="text" class="form-control" id="txtCode" placeholder="Template Code" ng-model="workTemplate.Code">
                </div>
                <div class="form-group">
                    <label for="txtName">Template Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Template Name" ng-model="workTemplate.Template">
                </div>
                <div class="form-group">
                    <label for="txtDesc">Description</label>
                    <textarea class="form-control input-sm" col="3" id="txtDesc" ng-model="workTemplate.Description"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="workTemplate.InActive"> In-Active
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>