<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Religion Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtReligion">Religion</label>
                    <input type="text" class="form-control" id="txtReligion" placeholder="Religion" ng-model="religion.Religion" required/>
                </div>
                <div class="form-group">
                    <label for="txtRelShortName">Short Name</label>
                    <input type="text" class="form-control" id="txtRelShortName" placeholder="Short Name" ng-model="religion.ShortName" required/>
                </div>
                <div class="form-group">
                    <label for="txtRelDesc">Description</label>
                    <textarea class="form-control input-sm" col="3" id="txtRelDesc" ng-model="religion.Description"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>