<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Religions</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o"></i> New</button>
        <button class="btn btn-success btn-sm" ng-click="Reload()"><i class="fa fa-refresh"></i> Refresh</button>
        <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="SearcH Religions" ng-keypress="($event.which === 13)?searchReligion():0"
                    ng-change="(txtFind.length < 1)?searchReligion():0">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg"ng-click="searchReligion()"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" ng-table="tblReligions" id="tblReligions">
            <tr ng-repeat="row in $data">
                <td data-title="'Religion'">
                    {{row.Religion}}
                </td>
                <td data-title="'Shortname'">
                    {{row.ShortName}}
                </td>
                <td data-title="'Description'">
                    {{row.Description}}
                </td>
                <td style="width:100px; " data-title="'Actions'">
                    <button class="btn btn-default btn-sm " uib-tooltip="Update" ng-click="updateReligion(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm " uib-tooltip="Remove" ng-click="deleteReligion(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>