<div class="row main" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">List of Employee Payroll</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-left">
                            <div>
                                <label for="exampleInputEmail1">PERIOD CODE: </label>
                                <label class="text-primary"> {{currentPayroll.PayrollCode}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">PERIOD COVERED: </label>
                                <label class="text-primary">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">PAYROLL REFERENCE NO: </label>
                                <label class="text-danger">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-default btn-sm" ng-click="payrollOptions()" style="margin-right:5px;"><i class="fa fa-cog" aria-hidden="true"></i> Payroll Options</button>
                            <button class="btn btn-default btn-sm" ng-click="payrollOptions()"><i class="fa fa-book" aria-hidden="true"></i> Payroll Transaction</button>
                            <button class="btn btn-success btn-sm" uib-tooltip="Print" ng-click="saveEmployeeWorkSchedule()"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered" id="tblChildren">
                            <thead>
                                <tr>
                                    <th class="text-center">Employee ID</th>
                                    <th class="text-center">Employee Name</th>
                                    <th class="text-center">Basic Pay</th>
                                    <th class="text-center">Overtime</th>
                                    <th class="text-center">Overtime Hrs.</th>
                                    <th class="text-center">Other Income</th>
                                    <th class="text-center">SSS EE</th>
                                    <th class="text-center">SSS ER</th>
                                    <th class="text-center">SSS EC</th>
                                    <th class="text-center">PHIC EE</th>
                                    <th class="text-center">PHIC ER</th>
                                    <th class="text-center">HDMF EE</th>
                                    <th class="text-center">HDMF ER</th>
                                    <th class="text-center">WTAX</th>
                                    <th class="text-center">Other Deduction</th>
                                    <th class="text-center">Total Deduction</th>
                                    <th class="text-center">Total Misc.</th>
                                    <th class="text-center">NET PAY</th>
                                    <th class="text-center">Date Posted</th>
                                    <th class="text-center" width="5%"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="row in overtimes">
                                <td class="text-center">{{row.EmployeeID}}</td>
                                <td class="text-center">{{row.EmployeeName}}</td>
                                <td class="text-center">{{row.JobTitle}}</td>
                                <td class="text-center">{{row.EmpStatus}}</td>
                                <td class="text-center">{{row.DateFiled}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">
                                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="viewEmployeeOvertime(row.EmployeeID,row.PayrollID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteOvertime(row.RefNo)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>