<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">HRIS</a>
        </div>
    </div>
</nav>


<div class="container" style="margin-top:30px">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Request password reset </strong></h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" ng-model="user.username">
                    </div>
                    <button class="btn btn-block btn-primary" ng-click="forgotpass()">Request password reset</button>
                </form>
            </div>
        </div>
        <a href="" ui-sref="auth.login" class="text-center new-account">Already have an account? Login </a>
    </div>
</div>