<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Home Development Mutual Fund</h1>
    <div class="page-action-buttons">
       <button class="btn btn-default btn-sm" ng-click="addHdmf()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-default btn-sm" ng-click = "printHDMF()"><i class="fa fa-print"></i> Print</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true" ng-click="refreshData()"></i> Refresh</button>
        <div style="width:500px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Accounts" ng-keypress="($event.which === 13)?searchPagibig():0"
                    ng-change="(txtFind.length < 1)?searchPagibig():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"ng-click="searchPagibig()"><i class="fa fa-search"></i> Search</button>
                    </span>
            </div>
        </div>
    </div>
    </section>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" ng-table="tableParams" id="myTable">
            <tr ng-repeat="row in $data" ng-dblclick="setSelectedItem(row)" ng-class="{selected: row.selected}">
                <td data-title="'Monthly Compensation'" class="text-center center-td">
                    {{row.MonthlyCompensation}}
                </td>
                <td data-title="'Bracket From'">
                    {{row.BracketFrom}}
                </td>
                <td data-title="'Bracket To'">
                    {{row.BracketTo}}
                </td>
                <td data-title="'Employee Share (%)'">
                    {{row.EmployerShare}}
                </td>
                <td data-title="'Total (%)'">
                    {{row.Total}}
                </td>
                <td width="100px;"data-title="'Actions'">
                    <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateHdmf(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteHdmf(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
        </table>
    </div>
</div>