<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee Work Schedule</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pull-left">
                <div>
                    <label>TEMPLATE CODE: </label>
                    <label class="text-primary"> {{schedules.Code}}</label>
                </div>
                <div>
                    <label>TEMPLATE NAME: </label>
                    <label class="text-primary"> {{schedules.Template}}</label>
                </div>
                <div>
                    <label>DESCRIPTION: </label>
                    <label class="text-primary"> {{schedules.Description}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Working Day</th>
                            <th class="text-center">AM IN</th>
                            <th class="text-center">AM OUT</th>
                            <th class="text-center">PM IN</th>
                            <th class="text-center">PM IN</th>
                            <th class="text-center">Break Start</th>
                            <th class="text-center">Break End</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in workDays">
                        <td>{{row.Days | uppercase}}</td>
                        <!-- SUNDAY -->
                        <td ng-if="$index == 0">
                            {{schedules.workschedules.IN01}}
                        </td>
                        <td ng-if="$index == 0">
                            {{schedules.workschedules.OUT01}}
                        </td>
                        <td ng-if="$index == 0">
                            {{schedules.workschedules.IN02}}
                        </td>
                        <td ng-if="$index == 0">
                            {{schedules.workschedules.OUT02}}
                        </td>
                        <td ng-if="$index == 0">
                            {{schedules.workschedules.IN03}}
                        </td>
                        <td ng-if="$index == 0">
                            {{schedules.workschedules.OUT03}}
                        </td>
                        <!-- MONDAY  -->
                        <td ng-if="$index == 1">
                            {{schedules.workschedules.IN11}}
                        </td>
                        <td ng-if="$index == 1">
                            {{schedules.workschedules.OUT11}}
                        </td>
                        <td ng-if="$index == 1">
                            {{schedules.workschedules.IN12}}
                        </td>
                        <td ng-if="$index == 1">
                            {{schedules.workschedules.OUT12}}
                        </td>
                        <td ng-if="$index == 1">
                            {{schedules.workschedules.IN13}}
                        </td>
                        <td ng-if="$index == 1">
                            {{schedules.workschedules.OUT13}}
                        </td>

                        <!-- TUESDAY -->
                        <td ng-if="$index == 2">
                            {{schedules.workschedules.IN21}}
                        </td>
                        <td ng-if="$index == 2">
                            {{schedules.workschedules.OUT21}}
                        </td>
                        <td ng-if="$index == 2">
                            {{schedules.workschedules.IN22}}
                        </td>
                        <td ng-if="$index == 2">
                            {{schedules.workschedules.OUT22}}
                        </td>
                        <td ng-if="$index == 2">
                            {{schedules.workschedules.IN23}}
                        </td>
                        <td ng-if="$index == 2">
                            {{schedules.workschedules.OUT23}}
                        </td>

                        <!-- WEDNESDAY -->
                        <td ng-if="$index == 3">
                            {{schedules.workschedules.IN31}}
                        </td>
                        <td ng-if="$index == 3">
                            {{schedules.workschedules.OUT31}}
                        </td>
                        <td ng-if="$index == 3">
                            {{schedules.workschedules.IN32}}
                        </td>
                        <td ng-if="$index == 3">
                            {{schedules.workschedules.OUT32}}
                        </td>
                        <td ng-if="$index == 3">
                            {{schedules.workschedules.IN33}}
                        </td>
                        <td ng-if="$index == 3">
                            {{schedules.workschedules.OUT33}}
                        </td>

                        <!-- THURSDAY -->
                        <td ng-if="$index == 4">
                            {{schedules.workschedules.IN41}}
                        </td>
                        <td ng-if="$index == 4">
                            {{schedules.workschedules.OUT41}}
                        </td>
                        <td ng-if="$index == 4">
                            {{schedules.workschedules.IN42}}
                        </td>
                        <td ng-if="$index == 4">
                            {{schedules.workschedules.OUT42}}
                        </td>
                        <td ng-if="$index == 4">
                            {{schedules.workschedules.IN43}}
                        </td>
                        <td ng-if="$index == 4">
                            {{schedules.workschedules.OUT43}}
                        </td>

                        <!-- FRIDAY -->
                        <td ng-if="$index == 5">
                            {{schedules.workschedules.IN51}}
                        </td>
                        <td ng-if="$index == 5">
                            {{schedules.workschedules.OUT51}}
                        </td>
                        <td ng-if="$index == 5">
                            {{schedules.workschedules.IN52}}
                        </td>
                        <td ng-if="$index == 5">
                            {{schedules.workschedules.OUT52}}
                        </td>
                        <td ng-if="$index == 5">
                            {{schedules.workschedules.IN53}}
                        </td>
                        <td ng-if="$index == 5">
                            {{schedules.workschedules.OUT53}}
                        </td>

                        <!-- SATURDAY -->
                        <td ng-if="$index == 6">
                            {{schedules.workschedules.IN61}}
                        </td>
                        <td ng-if="$index == 6">
                            {{schedules.workschedules.OUT61}}
                        </td>
                        <td ng-if="$index == 6">
                            {{schedules.workschedules.IN62}}
                        </td>
                        <td ng-if="$index == 6">
                            {{schedules.workschedules.OUT62}}
                        </td>
                        <td ng-if="$index == 6">
                            {{schedules.workschedules.IN63}}
                        </td>
                        <td ng-if="$index == 6">
                            {{schedules.workschedules.OUT63}}
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Close</button>
</div>
<style>
    #myTable td {
        text-align: center;
        vertical-align: middle;
    }
</style>