<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Payroll Configuration</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Payroll Scope</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <ui-select ng-model="options.config" theme="bootstrap">
                        <ui-select-match placeholder="Select Payroll Config...">{{$select.selected.PayrollCode}} - {{$select.selected.UsedYear}}</ui-select-match>
                        <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="payroll as payroll in payrollConfig | propsFilter: {PayrollCode: $select.search, UsedMonth: $select.search} | limitTo:infiniteScrollContacts.currentItems"
                            value="{{$select.selected.PayrollID}}">
                            <div ng-bind-html="payroll.PayrollCode + ' - ' + payroll.UsedYear | highlight: $select.search"></div>
                            <small>
                            term: {{payroll.Term}}
                        </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Date Covered</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label for="exampleInputEmail1">FROM</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="selected.F_FirstDate" is-open="popup1.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" ng-disabled="true"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open1()" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label for="exampleInputEmail1">TO</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="selected.F_SecondDate" is-open="popup2.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" ng-disabled="true"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open2()" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Select</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
