<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Tax Exemption Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        
        <button style="margin-bottom:10px;" class="btn btn-primary btn-sm pull-right" ng-click="searchTaxExemption()">Search</button>
        <div class="pull-right">
            <input style="margin-right:8px;" type="text" class="form-control input-sm pull-right" id="txtFind" ng-model="dataSearch.text" placeholder="Search Tax Exemptions" ng-keypress="($event.which === 13)?searchTaxExemption():0" ng-change="(txtFind.length < 1)?searchTaxExemption():0">
        </div>
        <div>
        </div>
        <div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <label for="txtCode">Tax Exemption Code</label>
                            <input type="text" class="form-control input-sm" id="txtCode" ng-model="taxexemption.ExemptionCode" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtDescription">Description</label>
                            <textarea class="form-control input-sm" col="3" id="txtDescription" ng-model="taxexemption.Exemption" ng-disabled="IsDisable"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="txtTaxExemption">Tax Exemption</label>
                            <input type="text" class="form-control input-sm" id="txtTaxExemption" ng-model="taxexemption.TaxExemption" ng-disabled="IsDisable">
                        </div>
                        <div class="checkbox col-md-12">
                            <label>
                                <input type="checkbox" ng-model="taxexemption.Inactive " ng-true-value="1" ng-false-value="0"> In-Active
                            </label>
                        </div>
                        <button class="btn btn-default btn-sm pull-right " style="margin-right:15px;" type="button" ng-click="addTaxExemp()">Add</button>
        <button class="btn btn-success btn-sm pull-right" type="button" style="margin-right:8px;" ng-click="refreshData()">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <div class="col-lg-12">
                    <table class="table table-bordered table-hover" ng-table="tableParams">
                        <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.e_id === selectedItem.e_id}">
                            <td style="width:100" data-title="'Exemption Code'" class="text-center center-td">
                                {{row. ExemptionCode}}
                            </td>
                            <td style="width:100" data-title="'Excemption'" class="text-center center-td">
                                {{row.Exemption}}
                            </td>
                            <td style="width:100" data-title="'Tax Exemption'" class="text-center center-td">
                                {{row.TaxExemption}}
                            </td>
                            <td style="width:100px; " data-title="'Actions'">
                                <button class="btn btn-deafult btn-sm" ng-click="updateTaxExemp(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="deleteTaxExemp(row.UUID)" uib-tooltip="Remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>