<div class="row main">
    <div class="row placeholders">
        <div class="content-container">
            <div class="content">
                <img style="height: 160px; width: auto;" src="https://gallery.mailchimp.com/141d101457bf87b7fd0dab771/images/7111fecb-7db2-42e7-8a1f-62763a5f41c2.png" alt="">
                <div class="title">Human Resource Information System</div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
	.content-container {
		padding-top: 70px;
    }

    .title {
        margin-top: 10px;
        font-size: 35px;
    }
</style>