<div class="modal-header">
        <h3 class="modal-title" id="modal-title">List of Accounts</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-lg-12">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control input-lg" id="txtFind" ng-model="txtFind.text" placeholder="Search..." ng-keypress="($event.which === 13)?searchData():0" ng-change="(txtFind.length < 1)?searchData():0">
                    <span class="input-group-btn">
            <button class="btn btn-default btn-lg"ng-click="searchData()">Search</button>
          </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <div class="col-lg-12">
                    <table class="table table-bordered table-hover" ng-table="tableParams" id="myTable">
                        <tr ng-repeat="row in $data" ng-click="setSelectedItem(row)" ng-class="{selected: row.AcctID === selectedItem.AcctID}">
                            <td data-title="'Acct. Code'" class="text-center center-td">
                                {{row.AcctCode}}
                            </td>
                            <td data-title="'Acct. Name'">
                                {{row.AcctName}}
                            </td>
                            <td data-title="'Acct. Group'">
                                {{row.groups.GroupName}}
                            </td>
                            <td data-title="'Classification'">
                                {{row.class.ClassName}}
                            </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Select</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>