<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/hris">HRIS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active':selectedTab == 0}"><a href="" ui-sref="main.home">Home</a></li>
                <li class="dropdown" ng-class="{'active':selectedTab == 1}" ng-if="findModule('HumanResourceToolStripMenuItem',UserRights.AllowRead)">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Human Resource <span class="caret"></span></a>
                    <ul class="dropdown-menu">
<<<<<<< HEAD

=======
>>>>>>> adcc73cce1947a0128f68dd5435f944c7c06c82c
                        <li ng-if="findModule('EmployeeProfileToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.employeeprofile">Employee Profile</a>
                        </li>
                        <li ng-if="findModule('EmployeeMasterListToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.masterlist">Employee Masterlist</a>
                        </li>
<<<<<<< HEAD

=======
>>>>>>> adcc73cce1947a0128f68dd5435f944c7c06c82c
                        <!-- <li><a href="">Employee Leave</a></li> -->
                        <li ng-if="findModule('EmployeeWorkingScheduleToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.workschedules">Employee Work Schedule</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('EmployeeWorkingScheduleToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('ListOfReportsToolStripMenuItem',UserRights.AllowRead)">
                            <a href="">List of Reports</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 6}" ng-if="findModule('AccountingToolStripMenuItem',UserRights.AllowRead)">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="findModule('ListOfAccountsToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.chartsofaccounts">Charts of Account</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('ListOfAccountsToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('SSSToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.sss">SSS Table</a>
                        </li>
                        <li ng-if="findModule('PhilHealthToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.phic">PhilHealth Table</a>
                        </li>
                        <li ng-if="findModule('PAGIBIGToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.hdmf">Pag-IBIG Table</a>
                        </li>
                        <li class = "dropdown-submenu" ng-if="findModule('WithholdingTAXToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Withholding Tax</a>
                            <ul class="dropdown-menu">
                                <li ng-if="findModule('WithholdingTAXToolStripMenuItem',UserRights.AllowRead)">
                                    <a href="" ng-click="addTaxExemption()">Tax Exemption</a>
                                </li>
                                <li ng-if="findModule('WithholdingTAXToolStripMenuItem',UserRights.AllowRead)">
                                    <a href="" ui-sref="main.wtax">Withholding Tax Table</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-class="{'active':selectedTab == 2}" ng-if="findModule('AttendanceManagementToolStripMenuItem',UserRights.AllowRead)">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attendance Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="findModule('DailyTimeRecordsToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.dailytimerecord">Daily Time Records</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('OvertimeToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('OvertimeToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.overtime">Overtime</a>
                        </li>
                        <li ng-if="findModule('OvertimeToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.overtime_list">List of Overtime</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('ListOfReportsToolStripMenuItem3',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('ListOfReportsToolStripMenuItem3',UserRights.AllowRead)">
                            <a href="">List of Reports</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 3}" ng-if="findModule('PayrollToolStripMenuItem',UserRights.AllowRead)">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Payroll <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="findModule('PayrollSetupToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.payrollsetup">Payroll Setup</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('PayrollSetupToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('ManuaPayrollToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.manualpayroll">Manual Payroll Computation</a>
                        </li>
                        <li ng-if="findModule('GeneralPayrollToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.generalpayroll">General Payroll</a>
                        </li>
                        <li ng-if="findModule('GeneralPayrollToolStripMenuItem',UserRights.AllowRead) || findModule('ManuaPayrollToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.payrolllist">List of Employee Payroll</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('ThMonthPayrollToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('ThMonthPayrollToolStripMenuItem',UserRights.AllowRead)">
                            <a href="">13th Month Payroll</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('PostPayrollToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('PostPayrollToolStripMenuItem',UserRights.AllowRead)">
                            <a href="">Payroll Posting</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('EmployeePaySlipToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('EmployeePaySlipToolStripMenuItem',UserRights.AllowRead)">
                            <a href="">Employee Payslip</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('ListOfReportsToolStripMenuItem2',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('ListOfReportsToolStripMenuItem2',UserRights.AllowRead)">
                            <a href="">List of Reports</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 4}" ng-if="findModule('SetupManagerToolStripMenuItem',UserRights.AllowRead)">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup Manager <span class="caret"></span></a>
                    <ul class="dropdown-menu">
<<<<<<< HEAD

=======
>>>>>>> adcc73cce1947a0128f68dd5435f944c7c06c82c
                        <li ng-if="findModule('CompanyInformationToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.companyprofile">Company Profile</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('CompanyInformationToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('BranchesToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.branches">Branches</a>
                        </li>
                        <li ng-if="findModule('DivisionToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.divisions">Divisions</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('DivisionToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('DepartmentToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.departments">Department</a>
                        </li>
                        <li ng-if="findModule('DesignationToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.jobpositions">Job Position</a>
                        </li>
                        <li ng-if="findModule('EmploymentTypesToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.employmenttypes">Employment Types</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('NationalityToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('NationalityToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.nationality">Nationality</a>
                        </li>
                        <li ng-if="findModule('ReligionToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.religions">Religion</a>
                        </li>
                        <li ng-if="findModule('CivilStatusToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ng-click="addCivilStatus()">Civil Status</a>
                        </li>
<<<<<<< HEAD

=======
>>>>>>> adcc73cce1947a0128f68dd5435f944c7c06c82c
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 5}" ng-if="findModule('ToolsMenu',UserRights.AllowRead)">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="findModule('ApplicationSettingsToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.appsettings">Application Settings</a>
                        </li>
                        <li role="separator" class="divider" ng-if="findModule('UserAccountsToolStripMenuItem',UserRights.AllowRead)"></li>
                        <li ng-if="findModule('UserAccountsToolStripMenuItem',UserRights.AllowRead)">
                            <a href="" ui-sref="main.useraccounts">User Accounts</a>
                        </li>
                        <!-- <li><a href="">Transaction Logs</a></li> -->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" uib-tooltip="Notification"><i class="fa fa-bell-o fa-lg"></i>
                    <!-- <span class="badge">42</span> -->
                </a></li>
                <li class="dropdown" ng-class="{'active':selectedTab == 7}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <div style="width: 100%;height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;">{{currentUser.FullName}} <span class="caret"></span></div>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="" ng-click="showUserProfile()">Account</a></li>
                        <li><a ng-click="logout()" href="">Logout</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 7}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-if="findModule('Contact Us').DefaultRead == 1 || findModule('Contact Us').DefaultWrite == 1 || findModule('Contact Us').DefaultDelete == 1"><a href="">Contact Us</a></li>
                        <li ng-if="findModule('Version History').DefaultRead == 1 || findModule('Version History').DefaultWrite == 1 || findModule('Version History').DefaultDelete == 1"><a href="">Version History</a></li>
                        <li ng-if="findModuleByDescription('About ...').DefaultRead == 1 || findModuleByDescription('About ...').DefaultWrite == 1 || findModuleByDescription('About ...').DefaultDelete == 1"><a href="" ng-click="showAbout()">About ...</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>