<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Employee Children Entry Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Fullname</label>
                <input type="text" class="form-control" id="txtFullName" placeholder="Fullname" ng-model="fullname">
            </div>
            <div class="form-group form-group-sm">
                <label for="exampleInputEmail1">Birthday</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dtpDOB" is-open="popup1.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="selectEntry()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>