<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Previous Job Experience</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button class="btn btn-default" uib-tooltip="Compose Service Record" disabled><i class="fa fa-plus" aria-hidden="true"></i> Compose Service Record</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tblChildren">
                        <thead>
                            <tr>
                                <th>Inclusive Date From</th>
                                <th>Inclusive Date To</th>
                                <th>Position Title</th>
                                <th>Department/Agency/Office/Company</th>
                                <th>Monthly Salary</th>
                                <th>Status of Appointment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in employeeChildren">
                            <td>{{row.ec_name}}</td>
                            <td>{{row.ec_dateofbirth}}</td>
                            <td>{{row.ec_dateofbirth}}</td>
                            <td>{{row.ec_dateofbirth}}</td>
                            <td>{{row.ec_dateofbirth}}</td>
                            <td>{{row.ec_dateofbirth}}</td>
                            <td class="text-center center-td" width="5%">
                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteEmployeeChildren(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>