<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Work Schedule</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" style="margin-bottom:10px;">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" uib-tooltip="Apply" ng-click="saveEmployeeWorkSchedule()" ng-disabled="IsDisabled"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                        <button class="btn btn-danger btn-sm" uib-tooltip="Reset" ng-click="resetEmployeeWorkSchedule()" ng-disabled="IsDisabled"><i class="fa fa-undo" aria-hidden="true"></i> Reset</button>
                        <select class="form-control input-sm" style="width:600px;" ng-change="changeSchedule()" ng-model="employee.work_schedule" ng-options="item as item.CodeTemplate for item in workschedules"></select>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tblChildren">
                        <thead>
                            <tr>
                                <th>Working Day</th>
                                <th class="text-center">Morning Time In</th>
                                <th class="text-center">Morning Time Out</th>
                                <th class="text-center">Afternoon Time In</th>
                                <th class="text-center">Afternoon Time Out</th>
                                <th class="text-center">Break Start</th>
                                <th class="text-center">Break End</th>
                                <th class="text-center">Non-Working Day</th>
                            </tr>
                        </thead>
                         <tr ng-repeat="row in workDays">
                            <td>{{row.Days | uppercase}}</td>
                            <td class="text-center">{{employeeWorkScheds[row.IndexID - 1].morning_in}}</td>
                            <td class="text-center">{{employeeWorkScheds[row.IndexID - 1].morning_out}}</td>
                            <td class="text-center">{{employeeWorkScheds[row.IndexID - 1].aft_in}}</td>
                            <td class="text-center">{{employeeWorkScheds[row.IndexID - 1].aft_out}}</td>
                            <td class="text-center">{{employeeWorkScheds[row.IndexID - 1].break_in}}</td>
                            <td class="text-center">{{employeeWorkScheds[row.IndexID - 1].break_out}}</td>
                            <td class="text-center">
                                <i class="fa fa-check" aria-hidden="true" ng-if="employeeWorkScheds[row.IndexID - 1].nonworking"></i>
                            </td>
                        </tr> 
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>