<div class="col-sm-3 col-md-2 sidebar">
    <ng-include src="'./public/hris/templates/payroll/general/sidebar.html'">
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">General Payroll Computation</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="clearEmployee()"><i class="fa fa-file-o" aria-hidden="true"></i> Open</button>
        <button class="btn btn-default btn-sm" ng-click="saveOvertime()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-danger btn-sm" ng-click="deleteOvertime()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
        <button class="btn btn-primary btn-sm pull-right" style="margin-right:5px;"><i class="fa fa-print" aria-hidden="true"></i> Print Posted</button>
        <button class="btn btn-primary btn-sm pull-right" style="margin-right:5px;"> Un-post Payroll</button>
        <button class="btn btn-primary btn-sm pull-right" style="margin-right:5px;"> Post Payroll</button>
        <button class="btn btn-default btn-sm pull-right" ng-click="payrollOptions()" style="margin-right:15px;"><i class="fa fa-book" aria-hidden="true"></i> Payroll Transaction</button>
        <button class="btn btn-default btn-sm pull-right" ng-click="payrollOptions()" style="margin-right:5px;"><i class="fa fa-cog" aria-hidden="true"></i> Payroll Options</button>
    </div>
    <section>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group pull-left">
                        <div>
                            <label for="exampleInputEmail1">PERIOD CODE: </label>
                            <label class="text-primary"> {{currentPayroll.PayrollCode}}</label>
                        </div>
                        <div>
                            <label for="exampleInputEmail1">PERIOD COVERED: </label>
                            <label class="text-primary">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                        </div>
                        <div>
                            <label for="exampleInputEmail1">PAYROLL REFERENCE NO: </label>
                            <label class="text-danger">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblChildren">
                            <thead>
                                <tr>
                                    <th class="text-center">Employee ID</th>
                                    <th class="text-center">Employee Name</th>
                                    <th class="text-center">Branch</th>
                                    <th class="text-center">Division</th>
                                    <th class="text-center">Department</th>
                                    <th class="text-center">Job Code</th>
                                    <th class="text-center">Job Position</th>
                                    <th class="text-center">Employment Status</th>
                                    <th class="text-center">Exemption Code</th>
                                    <th class="text-center">Monthly Rate</th>
                                    <th class="text-center">Daily Rate</th>
                                    <th class="text-center">Hourly Rate</th>
                                    <th class="text-center">Total Working Day(s)</th>
                                    <th class="text-center">Day(s) Worked</th>
                                    <th class="text-center">Hours Worked</th>
                                    <th class="text-center">Basic Pay</th>
                                    <th class="text-center">Overtime</th>
                                    <th class="text-center">Overtime Hrs.</th>
                                    <th class="text-center">Tardiness</th>
                                    <th class="text-center">Tardiness Hrs.</th>
                                    <th class="text-center">Other Income</th>
                                    <th class="text-center">GROSS PAY</th>
                                    <th class="text-center">SSS EE</th>
                                    <th class="text-center">SSS ER</th>
                                    <th class="text-center">SSS EC</th>
                                    <th class="text-center">PHIC EE</th>
                                    <th class="text-center">PHIC ER</th>
                                    <th class="text-center">HDMF EE</th>
                                    <th class="text-center">HDMF ER</th>
                                    <th class="text-center">Withholding TAX</th>
                                    <th class="text-center">Other Deduction</th>
                                    <th class="text-center">Total Deduction</th>
                                    <th class="text-center">Total Misc.</th>
                                    <th class="text-center">NET PAY</th>
                                    <th class="text-center">REMARKS</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="row in overtimes">
                                <td class="text-center">{{row.EmployeeID}}</td>
                                <td class="text-center">{{row.EmployeeName}}</td>
                                <td class="text-center">{{row.JobTitle}}</td>
                                <td class="text-center">{{row.EmpStatus}}</td>
                                <td class="text-center">{{row.DateFiled}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                                <td class="text-center">{{row.TotalNoHrs}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>