<div class="col-sm-3 col-md-2 sidebar">
    <ng-include src="'./public/kiosk/templates/attendance/DTR/sidebar.html'">
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Employee Overtime</h1>
    <div class="page-action-buttons">
        <!-- <button class="btn btn-default btn-sm" ng-click="payrollOptions()" ng-disabled="IsDisabled"><i class="fa fa-file-o" aria-hidden="true"></i> New</button> -->
        <button class="btn btn-primary btn-sm" ng-click="saveOvertime()" ng-disabled="IsDisabled"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-danger btn-sm" ng-click="deleteOvertime()" ng-disabled="IsOverTimePosted || IsDisabled"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()" ng-disabled="IsDisabled"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm" ng-disabled="IsDisabled"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
        <button class="btn btn-default btn-sm" ng-click="payrollOptions()"><i class="fa fa-cog" aria-hidden="true"></i> Payroll Options</button>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Employee Work Schedule</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pull-left">
                                    <div>
                                        <label for="exampleInputEmail1">PERIOD CODE: </label>
                                        <label class="text-primary"> {{currentPayroll.PayrollCode}}</label>
                                    </div>
                                    <div>
                                        <label for="exampleInputEmail1">PERIOD COVERED: </label>
                                        <label class="text-primary">{{currentPayroll.FirstDate | date: 'MM/dd/yyyy'}} - {{currentPayroll.SecondDate | date: 'MM/dd/yyyy'}}</label>
                                    </div>
                                    <div>
                                        <label for="exampleInputEmail1">REF. NO.: </label>
                                        <label class="text-primary"> {{refNo}}</label>
                                    </div>
                                </div>
                                <div class="form-group pull-right">
                                    <!-- <button class="btn btn-primary btn-sm" ng-click="insertOvertime()" ng-disabled="IsOverTimePosted == true || IsDisabled"><i class="fa fa-plus" aria-hidden="true"></i> Insert</button> -->
                                    <button class="btn btn-primary btn-sm" ng-click="insertOvertime()" ng-disabled="IsOverTimePosted == true || IsDisabled"><i class="fa fa-plus" aria-hidden="true"></i> Insert Overtime</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered cs_attendance" id="tblChildren">
                                        <thead>
                                            <tr>
                                                <th class="text-center"></th>
                                                <th class="text-center">DATE</th>
                                                <th class="text-center">TIME IN</th>
                                                <th class="text-center">TIME OUT</th>
                                                <th class="text-center">O.T TYPE</th>
                                                <th class="text-center">TOTAL HRS.</th>
                                                <th class="text-center">PROJECT</th>
                                                <th class="text-center">REMARKS</th>
                                                <th class="text-center">REQUESTOR</th>
                                                <th class="text-center">PRE-APPROVED BY</th>
                                                <th class="text-center">PRE-APPROVED EXPIRY</th>
                                                <th class="text-center">APPROVED BY</th>
                                                <th class="text-left" width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="row in overtimes">
                                            <td class="text-center">
                                                <i uib-tooltip="PRE-APPROVED" class="fa fa-lg fa-check posted" aria-hidden="true" ng-if="row.IsPreApproved == 1"></i>                                                &nbsp;
                                                <i uib-tooltip="APPROVED" class="fa fa-lg fa-lock posted" aria-hidden="true" ng-if="row.IsApproved == 1"></i>                                                &nbsp;
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.InclusiveDates | date:'MM/dd/yyyy'}}</span>
                                                <strike ng-if="row.IsExpired">{{row.InclusiveDates | date:'MM/dd/yyyy'}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.TimeIn | date:'hh:mm a'}}</span>
                                                <strike ng-if="row.IsExpired">{{row.TimeIn | date:'hh:mm a'}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.TimeOut | date:'hh:mm a'}}</span>
                                                <strike ng-if="row.IsExpired">{{row.TimeOut | date:'hh:mm a'}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.OTType.OTTypeCode}}</span>
                                                <strike ng-if="row.IsExpired">{{row.OTType.OTTypeCode}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.NoHrs}}</span>
                                                <strike ng-if="row.IsExpired">{{row.NoHrs}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.Project}}</span>
                                                <strike ng-if="row.IsExpired">{{row.Project}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.Remarks}}</span>
                                                <strike ng-if="row.IsExpired">{{row.Remarks}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.Requestor.employee_name}}</span>
                                                <strike ng-if="row.IsExpired">{{row.Requestor.employee_name}}</strike>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.PreApprovedBy}}<br><small class="text-danger">{{row.PreApprovedDate| date:'MM/dd/yyyy'}}</small></span>
                                                <strike ng-if="row.IsExpired">{{row.PreApprovedBy}}<br><small class="text-danger">{{row.PreApprovedDate| date:'MM/dd/yyyy'}}</small></strike>
                                            </td>
                                            <td class="text-center">
                                                <strong class="text-danger">{{row.OTExpiry| date:'MM/dd/yyyy'}}</strong>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="!row.IsExpired">{{row.ApprovedBy}} <br><small class="text-danger">{{row.ApprovedDate| date:'MM/dd/yyyy'}}</small></span>
                                                <strike ng-if="row.IsExpired">{{row.ApprovedBy}} <br><small class="text-danger">{{row.ApprovedDate| date:'MM/dd/yyyy'}}</small></strike>
                                            </td>
                                            <td class="text-center" ng-if="row.IsExpired"></td>
                                            <td class="text-center" ng-if="!row.IsExpired">
                                                <a class="btn btn-warning btn-sm" uib-tooltip="Log Time" ng-click="logOvertime(row.IndexID,row,$index)" ng-if="row.IsPreApproved == 1 && row.IsApproved == 0"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                                                <a class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateOvertime(row.IndexID,row,$index)" ng-if="row.IsApproved == 0 && row.IsPreApproved == 0"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                <a class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteOverTimeDetail(row.IndexID,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group pull-left">
                            <div>
                                <label for="exampleInputEmail1">TOTAL HOURS: </label>
                                <label class="text-primary"> {{TotalNoHrs | number:1}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">REG. HOURS: </label>
                                <label class="text-primary"> {{TotalRegOT | number:1}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">HOL. HOURS: </label>
                                <label class="text-primary"> {{TotalHolOT | number:1}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">SPL. HOURS: </label>
                                <label class="text-primary"> {{TotalSplOT | number:1}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">SUN. HOURS: </label>
                                <label class="text-primary"> {{TotalSunOT | number:1}}</label>
                            </div>
                            <div>
                                <label for="exampleInputEmail1">TOTAL APPROVED HOURS: </label>
                                <label class="text-primary"> {{TotalApprovedNoHrs | number:1}}</label>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-default btn-sm" ng-click="viewEmployeeTimeLogs()"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                            <button class="btn btn-danger btn-sm" uib-tooltip="Purge Overtime" ng-click="deleteOvertime()" ng-disabled="IsOverTimePosted || IsDisabled"><i class="fa fa-times" aria-hidden="true"></i> Purge</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>