<div class="row main">
    <h1 class="page-header">Application Settings</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addEntry()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-primary btn-sm" ng-click="saveAppSettings()" ng-disabled="IsDisable"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payroll Master Setup</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Setup Code </label>
                            <input type="text" class="form-control input-sm" id="txtBlood" placeholder="Setup Code" ng-model="setup.PayrollCode" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Setup Name</label>
                            <input type="text" class="form-control input-sm" id="txtWeight" placeholder="Setup Name" ng-model="setup.PayrollTitle" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Description </label>
                            <textarea class="form-control input-sm" col="3" ng-model="setup.Description" ng-disabled="IsDisable"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Payroll Setup</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" ng-table="tableParams" id="tblChildren">
                                        <tr ng-repeat="row in $data">
                                            <td data-title="'SETUP CODE'">
                                                <i class="fa fa-lg fa-star text-danger" ng-if="row.Active == 1" aria-hidden="true"></i>
                                                {{row.PayrollCode}}
                                            </td>
                                            <td class="text-center" data-title="'SETUP NAME'">{{row.PayrollTitle}}</td>
                                            <td class="text-center" data-title="'DESCRIPTION'">{{row.Description}}</td>
                                            <td class="text-center" width="15%">
                                                <button class="btn btn-warning btn-sm" uib-tooltip="Activate" ng-click="activatePayrollSetup(row)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updatePayrollSetup(row)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                <button class="btn btn-default btn-sm" uib-tooltip="Setup" ng-click="setPayrollSetup(row)"><i class="fa fa-list" aria-hidden="true"></i></button>
                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deletePayrollSetup(row)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>