<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Upload Employee Picture</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            <!-- <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" err-src="http://placehold.it/250x250" class="thumbnail" width="300"
                height="300"> -->
            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                <img-crop area-type="square" result-image-size="300" image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                </img-crop>
            </div>
            <div class="input-group image-preview" style="margin-top:10px;">
                <span class="input-group-btn">
                        <button type="button" class="btn btn-warning image-preview-clear" ng-click="removethumb()" ng-show="picFile"> <span class="glyphicon glyphicon-remove"></span> Clear
                </button>
                <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                    <input type="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" name="file" ng-model="picFile" ngf-max-size="2MB" ngf-select="upload($files)" ngf-model-invalid="errorFile">
                </div>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <img ng-src="{{croppedDataUrl}}" ng-show="picFile" err-src="http://placehold.it/250x250" class="thumbnail pull-right" width="300" height="300">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()" ng-show="picFile">Upload</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
<style>
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}
</style>