<div class="modal-header">
        <h3 class="modal-title" id="modal-title">PHIC Entry Form</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="txtMonthlyCredit">PH CODE</label>
                <input type="text" class="form-control input-sm" id="txtMonthlyCredit" ng-model="phic.PH_Name">
            </div>
            <div class="form-group col-md-6">
                <label for="txtBracketFrom">PH NAME</label>
                <input type="text" class="form-control input-sm" id="txtBracketFrom" ng-model="phic.PH_Code">
            </div>
            <div class="form-group col-md-6">
                <label for="txtBracketTo">PH DESCRIPTION</label>
                <input type="text" class="form-control input-sm" id="txtBracketTo" ng-model="phic.PH_Description">
            </div>
           
        </div>
          <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="phic.Inactive" ng-true-value="1" ng-false-value="0" > In-Active
                    </label>
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="saveEntry()">Save</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>