<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Philhealth Bracket Form</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="form-group col-md-6">
                    <label for="txtPosCode">BracketFrom</label>
                    <input type="number" class="form-control" id="txtBracketFrom" placeholder="BracketFrom" ng-model="phics.bracketfrom">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtPosTitle">Bracket To</label>
                    <input type="number" class="form-control" id="txtAccountName" placeholder="Bracket To" ng-model="phics.bracketto">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtPosShortName">Employee Share</label>
                    <input type="number" class="form-control" id="txtEmployeeShate" placeholder="Employee Share" ng-model="phics.employershare">
                </div>

                <div class="form-group col-md-6">
                    <label for="txtPosShortName">Employer Share</label>
                    <input type="number" class="form-control" id="txtEmployerShare" placeholder="Employer Share" ng-model="phics.employeeshare">
                </div>

                 <div class="form-group col-md-6">
                    <label for="txtPosShortName">Salarybase</label>
                    <input type="number" class="form-control" id="txtSalarybase" placeholder="Salarybase" ng-model="phics.salarybase">
                </div>
                <div class="form-group col-md-6">
                    <label for="txtPosShortName">Over</label>
                    <input type="number" class="form-control" id="txtOver" placeholder="Over" ng-model="phics.over">
                </div>

                <div class="form-group col-md-12">
                    <label for="txtPosShortName">Total M-Contribution</label>
                    <input type="number" class="form-control" id="txtTotalMontlyContribui" placeholder="Total M-Contribution" ng-model="phics.totalmonthlycontribution">
                </div>

                


            
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="savePhilDetails()">Save</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>