<div class="col-sm-12 col-md-12 col-lg-12 main print">
    <div class="page-action-buttons" print-hide>
        <a class="btn btn-default btn-sm" onclick="window.history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <a class="btn btn-default btn-sm" print-btn><i class="fa fa-print" aria-hidden="true"></i> Print</a>
    </div>
    <div print-section>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
           <img ng-src="{{profileImage}}" err-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROsYr-Eu1pqfZnJmmYMyDM8vzE3fz2E5bGJCtg8LBZ6vQLl-XEQg" style="width:250px;">
           {{company.ci_name}}
           <br>
           <small style="font-size: 16px;
    margin-left: 260px;
    position: absolute;
    margin-top: -40px;">{{company.ci_streetadd}} {{company.ci_city}} {{company.ci_provincialadd}} {{company.ci_zipcode}}</small>
        </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Device No.</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Suffix</th>
                            <th>Gender</th>
                            <th>Civil Status</th>
                            <th>Branch</th>
                            <th>Division</th>
                            <th>Department</th>
                            <th>Job Position</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in employee">
                            <td>{{row.e_idno}}</td>
                            <td>{{row.device_no}}</td>
                            <td>{{row.e_lname}}</td>
                            <td>{{row.e_fname}}</td>
                            <td>{{row.e_mname}}</td>
                            <td>{{row.e_suffix}}</td>
                            <td>{{row.e_gender}}</td>
                            <td>{{row.cs_name}}</td>
                            <td>{{row.branch_name}}</td>
                            <td>{{row.div_name}}</td>
                            <td>{{row.d_name}}</td>
                            <td>{{row.jt_name}}</td>
                            <td>{{row.Status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>