<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <title>HRIS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/themes/flatly/bootstrap.min.css" rel="stylesheet">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        font-weight: 100;
        font-family: 'Lato';
    }

    .content-container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .content {
        text-align: center;
        display: inline-block;
    }

    .title {
        margin-top: 10px;
        font-size: 35px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="/hris" class="btn btn-default">Admin Login</a></li>
                    <li><a href="/kiosk">Employee Login</a></li>
                </ul> -->
                <form class="navbar-form navbar-right">
                    <a href="/hris" class="btn btn-info">Admin Login</a>
                    <a href="/kiosk" class="btn btn-info">Employee Login</a>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="content-container">
        <div class="content">
            <img style="height: 160px; width: auto;" src="https://gallery.mailchimp.com/141d101457bf87b7fd0dab771/images/7111fecb-7db2-42e7-8a1f-62763a5f41c2.png" alt="">
            <div class="title">Human Resource Information System</div>
        </div>
    </div>
</body>

</html>