<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="kiosk">
<head>
    <meta charset="utf-8">
    <title>KIOSK</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/POSlogo.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/themes/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="public/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/bower_components/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet">
    <link href="public/bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
    <link href="public/bower_components/ngActivityIndicator/css/ngActivityIndicator.min.css" rel="stylesheet">
    <link href="public/bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet">
    <link href="public/bower_components/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet">
    <link href="public/bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <link href="public/bower_components/ui-select/dist/select.css" rel="stylesheet">
    <link href="public/bower_components/angular.treeview/css/angular.treeview.css" rel="stylesheet">
    <link href="public/bower_components/ng-img-crop/compile/minified/ng-img-crop.css" rel="stylesheet">
    <link href="public/bower_components/angularPrint/angularPrint.css" rel="stylesheet" media="print">
    <link href="public/kiosk/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Non Angular -->
    <script type="text/javascript" src="public/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/bower_components/async/dist/async.min.js"></script>
    <script type="text/javascript" src="public/bower_components/moment/moment.js"></script>    
    <script type="text/javascript" src="public/bower_components/cryptojslib/rollups/md5.js"></script>
    <script type="text/javascript" src="public/bower_components/cryptojslib/components/enc-base64-min.js"></script>
    <!-- Angular JS -->
    <script type="text/javascript" src="public/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="public/bower_components/ngDialog/js/ngDialog.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ui-select/dist/select.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ngActivityIndicator/ngActivityIndicator.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-moment/angular-moment.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="public/bower_components/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular.treeview/angular.treeview.min.js"></script>    
    <script type="text/javascript" src="public/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="public/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script type="text/javascript" src="public/bower_components/angularPrint/angularPrint.js"></script>
    <!-- Angular Module -->
    <script src="public/kiosk/js/app.js"></script>
    <script src="public/kiosk/js/app.config.js"></script>
    <script src="public/kiosk/js/app.run.js"></script>
    <script src="public/kiosk/js/app.constant.js"></script>
    <!-- Angular Controller -->
    <script src="public/kiosk/templates/main.js"></script>
    <script src="public/kiosk/templates/auth/auth.js"></script>
    <script src="public/kiosk/templates/timelogs/timelogs.js"></script>
    <script src="public/kiosk/templates/timelogs/export.js"></script>
    <script src="public/kiosk/templates/attendance/DTR/dailytimerecord.js"></script>
    <script src="public/kiosk/templates/attendance/DTR/dtr.attendance.js"></script>
    <script src="public/kiosk/templates/attendance/DTR/payrolloption.js"></script>
    <script src="public/kiosk/templates/attendance/DTR/timelog.js"></script>
    <script src="public/kiosk/templates/attendance/DTR/print.js"></script>
    <script src="public/kiosk/templates/attendance/overtime/overtime.js"></script>
    <script src="public/kiosk/templates/attendance/overtime/overtime.modal.js"></script>
    <script src="public/kiosk/templates/attendance/overtime/overtime.log.modal.js"></script>
    <script src="public/kiosk/templates/humanresource/masterlist/employees.js"></script>
    <script src="public/kiosk/templates/humanresource/employeeprofile/employeeprofile.js"></script>
    <script src="public/kiosk/templates/humanresource/employeeprofile/employee2.js"></script>
    <script src="public/kiosk/templates/humanresource/employeeprofile/fingerprint.js"></script>
    <script src="public/kiosk/templates/humanresource/employeepicture/upload.js"></script>
    <script src="public/kiosk/templates/profile/profile.js"></script>
    <script src="public/kiosk/templates/payroll/manual/manual.js"></script>
    <!-- Angular Directives -->
    <script src="public/kiosk/js/directives/headers/header.js"></script>
    <script src="public/kiosk/js/directives/sidebar/sidebar.js"></script>
    <script src="public/kiosk/js/directives/directive.js"></script>
    <!-- Angular Services -->
    <script src="public/kiosk/js/services/services.js"></script>
    <script src="public/kiosk/js/services/auth.js"></script>
    <script src="public/kiosk/js/services/timelogs.js"></script>
    <script src="public/kiosk/js/services/employee.js"></script>
    <script src="public/kiosk/js/services/Base64.js"></script>
    <script src="public/kiosk/js/services/civilstatus.js"></script>
    <script src="public/kiosk/js/services/employmentstatus.js"></script>
    <script src="public/kiosk/js/services/branch.js"></script>
    <script src="public/kiosk/js/services/division.js"></script>
    <script src="public/kiosk/js/services/taxexemption.js"></script>
    <script src="public/kiosk/js/services/department.js"></script>
    <script src="public/kiosk/js/services/jobposition.js"></script>
    <script src="public/kiosk/js/services/payroll.js"></script>
    <script src="public/kiosk/js/services/misc.js"></script>
    <script src="public/kiosk/js/services/workschedule.js"></script>
    <script src="public/kiosk/js/services/users.js"></script>
    <script src="public/kiosk/js/services/company.js"></script>
    <!-- Angular Filters -->
    <script src="public/kiosk/js/filters.js"></script>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <div data-ui-view></div>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
</body>
</html>
