<div class="row main">
    <h1 class="page-header">Social Security System Table</h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addSSS()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-default btn-sm" ng-click="saveEntry()" ng-disabled="IsDisable"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true" ng-click="refreshData()"></i> Refresh</button>
       <div style="width:500px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search Accounts" ng-keypress="($event.which === 13)?searchSSS():0"
                    ng-change="(txtFind.length < 1)?searchSSS():0">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-lg"ng-click="searchSSS()"><i class="fa fa-search"></i> Search</button>
                    </span>
            </div>
        </div>
    </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="txtSSSCode">SSS Code</label>
                            <input type="text" class="form-control input-sm" id="txtSSSCode" ng-model="sss.SSSCode" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group">
                            <label for="txtSSSName">SSS Name</label>
                            <input type="text" class="form-control input-sm" id="txtSSSName" ng-model="sss.SSSName" ng-disabled="IsDisable">
                        </div>
                        <div class="form-group">
                            <label for="txtDescription">SSS Description</label>
                            <textarea class="form-control input-sm" col="3" id="txtDescription" ng-model="sss.Description" ng-disabled="IsDisable"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="sss.Inactive" ng-true-value="1" ng-false-value="2"> In-Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" ng-table="tableParams" id="tblChildren">
                                        <tr ng-repeat="row in $data">
                                            <td data-title="'SSS CODE'">{{row.SSSCode}}</td>
                                            <td class="text-center" data-title="'SSS NAME'">{{row.SSSName}}</td>
                                            <td class="text-center" data-title="'DESCRIPTION'">{{row.Description}}</td>
                                            <td data-title="'STATUS'">
                                                <i class="fa fa-check-square-o" aria-hidden="true" ng-model="row.Inactive" ng-if="row.Inactive == 1"></i>
                                                <i class="fa fa-square-o" aria-hidden="true" ng-model="row.Inactive" ng-if="row.Inactive == 0"></i>
                                            </td>
                                            <td data-title="'Actions'" <td class="text-center" width="16%">
                                                <button class="btn btn-default btn-sm" uib-tooltip="View" ng-click="viewSSSData(row.UUID)"><i class="fa fa-list" aria-hidden="true"></i></button>
                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateSSS(row.UUID)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteSSSTable(row.UUID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>