<div class="row main">
    <h1 class="page-header">SSS Contribution Table - <span style="color:red;">{{ss.SSSName | uppercase}}</span></h1>
    <div class="page-action-buttons">
        <button class="btn btn-default btn-sm" ng-click="addSSSBracket()"><i class="fa fa-file-o" aria-hidden="true"></i> New</button>
        <button class="btn btn-default btn-sm" ng-click="savePayroll()" ng-disabled="IsDisable"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="btn btn-success btn-sm" ng-click="refreshData()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <button class="btn btn-default btn-sm" ng-click="printSSSBrackets(row.UUID)"><i class="fa fa-print"></i> Print</button>    
       <div style="width:600px;" class="pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control input-lg" id="txtFind" ng-model="dataSearch.text" placeholder="Search SSS Bracket Data" ng-keypress="($event.which === 13)?searchPhilBrackets():0"
                    ng-change="(txtFind.length < 1)?searchPhilBrackets():0">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg"ng-click="searchPhilBrackets()"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>

        </div>
    <section>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">SSS Contribution. {{ss.SSSName}} ({{ss.SSSCode}})</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" ng-table="tableSSSData" id="tableSSSData">
                                        <tr ng-repeat="row in $data">
                                            <td data-title="'Montly Credit'">{{row.sb_monthly_credit}}</td>
                                            <td data-title="'Bracket From'">{{row.sb_from}}</td>
                                            <td data-title="'Bracket To'">{{row.sb_to}}</td>
                                            <td data-title="'Employee Share'">{{row.sb_employee_contrib}}</td>
                                            <td data-title="'Employer Share'">{{row.sb_employer_contrib}}</td>
                                            <td data-title="'ECC'">{{row.sb_emergency_contrib}}</td>
                                            <td data-title="'Over'">{{row.over}}</td>
                                            <td class="text-center" width="8%">
                                                <button class="btn btn-default btn-sm" uib-tooltip="Update" ng-click="updateSSSBracket(row.sb_id)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                <button class="btn btn-danger btn-sm" uib-tooltip="Remove" ng-click="deleteSSSBracket(row.sb_id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>