<div class="wrapper" id="exportthis">
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
           {{employee.Fullname}} ({{employee.EmployeeID}})
          <small class="pull-right">Date: 2/10/2014</small>
        </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Payroll Period: {{payroll.PayrollCode}}</b>
                <br>
                <br>
                <b>Period Covered</b>
                <br>
                <b>FROM:</b> {{payroll.FirstDate | amDateFormat:'YYYY-MM-DD'}}
                <br>
                <b>TO:</b> {{payroll.SecondDate | amDateFormat:'YYYY-MM-DD'}}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>WeekDay</th>
                            <th>Time In (AM)</th>
                            <th>Time Out (AM)</th>
                            <th>Time In (PM)</th>
                            <th>Time Out (PM)</th>
                            <th>Total Hrs.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in timelogs">
                            <td>{{log.date}}</td>
                            <td>{{log.dayofweek}}</td>
                            <td>{{log.LogTimeAM_IN}}</td>
                            <td>{{log.LogTimeAM_OUT}}</td>
                            <td>{{log.LogTimePM_IN}}</td>
                            <td>{{log.LogTimePM_OUT}}</td>
                            <td>{{log.totalHours}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- /.col -->
            <div class="col-xs-6">
                <p class="lead"></p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Total Work Days:</th>
                            <td>{{totalDays}}</td>
                        </tr>
                        <tr>
                            <th>Total Work Hours</th>
                            <td>{{totalWorkHours}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary pull-left" style="margin-right: 5px;" onclick="window.print()">
                    <i class="fa fa-download"></i> Generate PDF
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
<style type="text/css">
@media print {
    @page {
        size: auto;
        /* auto is the current printer page size */
        margin: 0mm;
        /* this affects the margin in the printer settings */
    }

    .no-print {
         display:none;
    }
}
</style>
