<h1 class="page-header">Time Logs</h1>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Payroll Period</label>
                <div class="col-sm-4">
                    <ui-select ng-model="payroll.config" theme="bootstrap">
                        <ui-select-match placeholder="Select Payroll Config...">{{$select.selected.PayrollCode}} - {{$select.selected.UsedYear}}</ui-select-match>
                        <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="payroll as payroll in payrollConfig | propsFilter: {PayrollCode: $select.search, UsedMonth: $select.search} | limitTo:infiniteScrollContacts.currentItems" value="{{$select.selected._id}}">
                            <div ng-bind-html="payroll.PayrollCode + ' - ' + payroll.UsedYear | highlight: $select.search"></div>
                            <small>
                            term: {{payroll.Term}}
                        </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary" ng-click="loadData()">Load</a>
                    <a class="btn btn-success" ui-sref="main.timelogs_pdf" ng-if="isExport">Export as PDF</a>
                </div>
            </div>
        </form>
    </div>
</div>
<h2 class="sub-header">Timelogs for: {{ (payroll.config).PayrollCode }} (<span>{{(payroll.config).FirstDate | amDateFormat:'YYYY-MM-DD'}}</span> to <span>{{(payroll.config).SecondDate | amDateFormat:'YYYY-MM-DD'}}</span>)</h2>
<div class="table-responsive">
    <table class="table table-bordered" ng-table="tableParams" id="myTable">
        <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
        <tr ng-repeat="row in $data" ng-repeat-end-watch="myFunction">
            <td data-title="'Actual Date'" class="text-center center-td">
                {{row.formattedTimeLog}}
            </td>
            <td data-title="'Time Log'">
                {{row.LogTime}}
            </td>
        </tr>
    </table>
</div>
