<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/kiosk">KIOSK</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active':selectedTab == 0}"><a href="" ui-sref="main.home">Home</a></li>
                <li class="dropdown" ng-class="{'active':selectedTab == 1}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Human Resource <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ui-sref="main.employeeprofile">Employee Profile</a></li>
                        <li><a href="" ui-sref="main.masterlist">Employee Masterlist</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 2}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attendance Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ui-sref="main.dailytimerecord">Daily Time Records</a></li>
                        <li><a href="" ui-sref="main.overtime">Overtime</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 3}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Payroll <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ui-sref="main.manualpayroll">Manual Payroll Computation</a></li>
                        <li><a href="">Employee Payslip</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':selectedTab == 5}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Transaction Logs</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" uib-tooltip="Notification"><i class="fa fa-bell-o fa-lg"></i>
                    <!-- <span class="badge">42</span> -->
                </a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <div style="width: 100%;height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;">{{currentUser.FullName}} <span class="caret"></span></div>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="" ng-click="showUserProfile()">Account</a></li>
                        <li><a ng-click="logout()" href="">Logout</a></li>
                    </ul>
                </li>
                 <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Version History</a></li>
                        <li><a href="" ng-click="showAbout()">About ...</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>